@media (max-width: 768px) {
    /*Para moviles*/

    .menu {
        display: none;
        flex-direction: column;

        background-color: var(--color-secundario);
        position: absolute;
        top: 70px;
        right: 20px;

        padding: 20px;
        border: 1px solid var(--color-dorado);
        gap: 15px;
    }

    .hamburguesa {
        display: block;
    }


    .cards {
        flex-direction: column;
        align-items: center;
    }
}

/*INDEX*/
@keyframes slide {

    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-300px);
    }

    50% {
        transform: translateX(-600px);
    }

    75% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }

}